.App {
  text-align: center;
  background-color: #222;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  background-color: #F0F2EF;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.App-footer {
  font-size: small;
  padding-top: 2%;
  background-color: #222;
  color: white;
}

.App-footer .name {
  color: #97ABB1;
}

.stockItem {
  display: inline;
  margin: 2%;
  overflow: hidden;
}

form {
  font-size: medium;
}

.stockItems {
  padding: 1%;
}

.btn{
  font-size: small;
  border-radius: 60%;
  color: red;
  margin-left: 5px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
